[Unit]
Description=rosboard RouterOS monitoring panel
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/rosboard
ExecStart=/opt/rosboard/rosboard-supervisor supervise -binary /opt/rosboard/rosboard -config /opt/rosboard/config.yaml
TimeoutStopSec=40
Restart=always
RestartSec=5
User=rosboard
Group=rosboard

[Install]
WantedBy=multi-user.target
